.landing_btn_1,
.landing_btn_2 {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  margin-left: 1rem;
  font-weight: 600;
  @include reset-anchor($light-color);
}

.landing_btn_1 {
  background-color: $blue;
  padding: 0.5rem 1.5rem;
}

.landing_btn_2 {
  // background-color: $dark-light-color;
  background-color: #ededed;
  @include reset-anchor($dark-blue);
  &:hover {
    opacity: 0.8;
  }
}

@media (max-width: 500px) {
  .landing_btn_1,
  .landing_btn_2 {
    font-size: 14px;
  }
}

// @media (prefers-color-scheme: light) {
//   .landing_btn_2 {
//     background-color: #ededed;
//     @include reset-anchor($dark-blue);
//   }
// }
