.main-header {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      margin-right: 1rem;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 100%;
      background-color: rgb(42, 43, 44);
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
}

.user-dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  img {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid $blue;
    padding: 0.15rem;
    border-radius: 100%;
  }
  h4,
  p {
    margin: 0;
    padding: 0;
  }
  h4 {
    font-weight: 800;
    font-size: 1.2rem;
  }
  p {
    margin-top: -0.1rem;
  }
}

.notification-bell {
  position: relative;
  .notification-numbers {
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
    font-size: 0.7rem;
    background-color: $blue;
    color: #fff;
    padding: 0.1rem 0.3rem;
    border-radius: 50%;
    text-align: center;
  }
}

.nav-bar {
  width: 19%;
  height: 90vh;
  position: relative;
  ul {
    list-style: none;
    width: 85%;
    margin: auto;
    padding-top: 1rem;
  }
  li {
    display: flex;
    color: #dbd7d7;
    align-items: center;
    padding: 0.4rem 1.2rem;
    margin-bottom: 0.8rem;
    // justify-content: space-between;
    border-radius: 5px;
    &:hover,
    &:hover a {
      background-color: $blue;
      color: #fff;
    }
    cursor: pointer;
    a {
      text-decoration: none;
      font-size: 1rem;
      color: #dbd7d7;
    }
  }
}

.nav-down {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 100%;
}

@media (prefers-color-scheme: light) {
  .main-header {
    background-color: #fff;
    ul {
      li {
        background-color: rgb(241, 245, 248);
      }
    }
  }
  .nav-bar {
    background-color: #fff;
    li {
      color: #3a3838;
      a {
        color: #3a3838;
      }
    }
  }
}
