.all-content {
  display: flex;
}

.all-content > div:nth-child(2) {
  padding: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  width: 100%;
  margin-right: 1.5rem;
  background-color: #232222;
}

@media (prefers-color-scheme: light) {
  .all-content {
    background-color: #fff;
  }
  .all-content > div:nth-child(2) {
    background-color: #f6f6f6;
    color: #2e2e2e;
  }
}
