.profile {
  font-family: "Inter";
  padding: 4rem;
  h2 {
    font-family: "Inter";
  }
}
.profile-main {
  width: 100%;
  min-height: 50rem;
  border-radius: 10px;
  margin-top: 1.5rem;
  border: 1px solid #252323;
  box-shadow: 2px 4px 16px #1c1c1c2c;
  padding: 1.5rem;
  box-sizing: border-box;
  background-color: $dark_color;
}
.edit-profile {
  padding: 0.5rem 1rem;
  img {
    width: 9rem;
    height: 9rem;
    border: 1px solid $blue;
    padding: 0.15rem;
    border-radius: 100%;
    margin-bottom: 0.6rem;
  }
}

@media (prefers-color-scheme: light) {
  .profile-main {
    border: 1px solid #e8e8e8;
    background-color: #fff;
    box-shadow: 2px 4px 16px #8787872c;
    strong {
      color: #2e2e2e;
    }
  }
}
