.user-dashboard {
  background-color: #232222 !important;
  &-top {
    display: flex;
    justify-content: space-between;
    h3 {
      span {
        display: inline-block;
        height: 0.5rem;
        width: 0.5rem;
        background-color: $blue;
        border-radius: 50%;
      }
    }
  }
  .user-tasks {
    width: 50%;
    position: relative;
    .radio {
      position: absolute;
      top: 50%;
      right: 1rem;
      transform: translateY(-50%);
    }
    .user-tasks-summary {
      padding: 1.5rem 0;
      &1,
      &2,
      &3,
      &4 {
        display: flex;
        padding: 1rem 0rem;
        background-color: $dark_color;
        border-radius: 8px;
        box-shadow: 1px 4px 8px #58585839;
        margin-left: 1rem;
        h4 {
          font-weight: bolder;
          font-size: 1rem;
        }
        h3 {
          font-size: 1.4rem;
          font-family: "Inter";
        }
      }
    }
  }
  .user-projects {
    h3 {
      span {
        background-color: #ffca3a;
      }
    }
    h2 {
      text-align: center;
      font-family: "Inter";
    }
    h4 {
      font-size: 1.1rem;
    }
    .user-projects-summary {
      background-color: $dark_color;
      border-radius: 8px;
      box-shadow: 1px 4px 8px #58585839;
      padding: 1.5rem;
      margin: 1.5rem 1rem;
    }
    .current-projects {
      margin: 1rem 0;
      .current-project {
        display: flex;
        align-items: center;
        margin: 1rem 0;
        img {
          width: 5.5rem;
          height: 3.5rem;
          border-radius: 8px;
        }
        &-progress {
          flex-basis: 60%;
          margin-left: 1rem;
          margin-right: 3rem;
          h3 {
            font-size: 1.1rem;
          }
        }
        &-icons {
          img {
            width: 2rem;
            height: 2rem;
            border-radius: 100%;
            margin-right: -1rem;
          }
        }
      }
    }
  }
  .upcoming-meetings {
    h3 {
      span {
        background-color: #9bc53d;
      }
    }
    .upcomings {
      background-color: $dark_color;
      border-radius: 8px;
      box-shadow: 1px 4px 8px #58585839;
      padding: 1.5rem;
      margin: 1.5rem 1rem;
      h3 {
        // font-family: "Inter";
        font-size: 1.1rem;
        opacity: 0.9;
      }
      h4 {
        font-size: 1rem;
        font-family: "Laila";
        font-weight: 500;
      }
    }
  }
}

.current-project-icons {
  img {
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    margin-right: -1rem;
  }
  img:nth-child(3) {
    margin-right: 0;
  }
}

@media (prefers-color-scheme: light) {
  .user-dashboard {
    background-color: #fbfbfb !important;
    .user-tasks {
      .user-tasks-summary {
        &1,
        &2,
        &3,
        &4 {
          background-color: #fff;
          box-shadow: 1px 4px 8px #77777739;
        }
      }
    }
    .user-projects {
      .user-projects-summary {
        background-color: #fff;
        box-shadow: 1px 4px 8px #77777739;
      }
    }
    .upcoming-meetings {
      .upcomings {
        background-color: #fff;
        box-shadow: 1px 4px 8px #77777739;
      }
    }
  }
}
