@import url("https://fonts.googleapis.com/css2?family=Balthazar&family=Inter:wght@200;400;500;600;700&family=Laila:wght@300;400;500&display=swap");

// Variables
$heading_font: "Balthazar", sans-serif;
$text_font: "Laila", sans-serif;
$dark_color: #121212;
$dark-light-color: #222427;
$light-color: #f8f9fa;
$grey-color: #cdd0d3;
$blue: #1c93e1;
$dark-blue: #104c74;
$yellow: #ffc20c;

h1 {
  font-family: $heading_font;
}
