* {
  padding: 0;
  margin: 0;
}

@import "./partials/variables";
@import "./partials/mixins";
@import "./partials/root";
@import "./partials/logo";
@import "./partials/bottons";
@import "./partials/nav";
@import "./partials/landing";
@import "./partials/auth";
@import "./partials/header";

._404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 40rem;
  }
}

.material-symbols-sharp {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@media (max-width: 600px) {
  ._404 {
    .logo {
      margin-bottom: 5rem;
    }
    img {
      width: 25rem;
    }
  }
}
